@{
    ViewBag.Title = "Index";
}

<h2>Hello @ViewBag.firstname</h2>

How is the weather in @ViewBag.hometown ?

<h2>Stuff your friends like</h2>

<ul class="friendlikes">
@foreach (var i in ViewBag.friendLikes)
{
    <li>@i.Name (@i.Nb likes) id=@i.Id</li>
}
</ul>

<ul class="friendlikes">
@foreach (var i in ViewBag.categories)
{
    int s = (int)Math.Round(i.Value * 5.0 / ViewBag.max);
    <li style="font-size: @s">@i.Key = @i.Value</li>
}
</ul>
